<html>
<head>
  <title>Notes</title>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <ul>
      <li class="notes">
     <a class="position-relative " id="editableNote">
       <div class="overflow-y-auto h-100">
      <h2 #title contenteditable="true" (click)="selectAll()" (focusin)="selectAll()">Title</h2>
      <p #noteBody (click)="selectAll()" (focusin)="selectAll()" class="font-italic " contenteditable="true">Add your Notes here!</p>
       <button (click)="addNote()" class="btn btn-dark w-100 rounded-0 position-absolute btn-position">Submit</button>
         </div>
    </a>
      </li>
      <li *ngFor="let item of notes" [id]="item.id">
       <a href="#"  class="overflow-auto h-100">
      <h2>{{item.title}}</h2>
      <p>{{item.description}}</p>
    </a>
      </li>
    </ul>

  </div>
</div>
</body>
</html>
